<mat-card>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Rating:</mat-label>
      <mat-select
        placeholder="Topic"
        [(value)]="selectedRating"
        formControlName="rating"
      >
        <mat-option *ngFor="let rating of ratingPossible" value="{{ rating }}"
          >{{ rating }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Track:</mat-label>
      <mat-select
        placeholder="Topic"
        [(value)]="selectedTrack"
        formControlName="track"
      >
        <mat-option *ngFor="let track of tracksReceived" value="{{ track._id }}"
          >{{ track.track }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="submitBtn"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!filterForm.valid"
    >
      Filter
    </button>
  </form>
</mat-card>

<table mat-table [dataSource]="students" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <ng-container matColumnDef="Email" class="email-column">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="Track">
    <th mat-header-cell *matHeaderCellDef>Track</th>
    <td mat-cell *matCellDef="let element">
      {{ element.assignedTrack[0].track }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Logical">
    <th mat-header-cell *matHeaderCellDef>Logical</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ratings[0].logicalRating }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Communication">
    <th mat-header-cell *matHeaderCellDef>Communication</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ratings[0].communicationRating }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Assignment">
    <th mat-header-cell *matHeaderCellDef>Assignment</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ratings[0].assignmentRating }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Proactiveness">
    <th mat-header-cell *matHeaderCellDef>Proactiveness</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ratings[0].proactivenessRating }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <div class="buttons">
      <button mat-button color="warn" (click)="updateStudent(element._id)" class="tableBtn">
        Update
      </button>
      <button mat-button color="accent" (click)="studentHistory(element._id)" class="tableBtn">
        History
      </button>
    </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSize]="4"
  [pageSizeOptions]="[2, 4, 6, 8, 10]"
  aria-label="Select page"
>
</mat-paginator>
