<main>
<div class="p-6 mt-12 w-[32rem] mx-auto shadow-lg flex items-center space-x-4 flex-col">
  <h3 class="m-4 text-lg font-medium text-gray-700">Please enter your new password</h3>
  <hr class="w-[24rem]">
  <div>
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
    >
        <div>
        <app-inputs
          [required]="true"
          for="newPassword"
          id="newPassword"
          type="password"
          name="newPassword"
          [formControl]="newPassword"
          label="New Password"
        ></app-inputs>
        <div
            *ngIf="(newPassword.invalid && newPassword.touched) || newPassword.dirty"
            class="text-purple-400 text-xs"
          >
            <p *ngIf="newPassword.errors?.['required']">*Password is required</p>
            <p *ngIf="newPassword.errors?.['minlength']">*Min 6 characters required</p>
          </div>
      </div>

      <div class="mt-4">
        <app-inputs
          [required]="true"
          for="confirmPassword"
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          [formControl]="confirmPassword"
          label="Confirm Password"
        ></app-inputs>
        <div *ngIf="(confirmPassword.invalid && confirmPassword.touched) || confirmPassword.dirty" class="text-purple-400 text-xs">
          <p *ngIf="confirmPassword.errors?.['required']">*Password Confirmation is required</p>
          <p *ngIf="confirmPassword.errors?.['minlength']">
            *Min 6 characters required
          </p>
        </div>
      </div>
      <div>
        <app-button type="submit">Change Password</app-button>
      </div>
    </form>
  </div>
</div>
</main>