.form-field__input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-field__label{
    display: block;
    padding: 0.2rem 0;
}