activity-tracker/node_modules
activity-tracker/backend/.env
charts/node_modules
file-drive/node_modules
parts-production-erp/node_modules
salon/node_modules
student-rating/node_modules
starter
activity-tracker-jay
.env