<main>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="app-name">Salon</span>
        <span class="example-spacer"></span>
        <!-- <a routerLink="/login" routerLinkactive="active"><button mat-button color="success">Login</button></a> -->
        <a routerLink="/feedback" routerLinkactive="active"><button mat-button color="success">Feedback</button></a>
        <a routerLink="/averageRating" routerLinkactive="active"><button mat-button color="success">Reports</button></a>
      </mat-toolbar-row>
  </mat-toolbar>
</header>
<section>
  <router-outlet></router-outlet>
</section>
</main>

