@import '../../../assets/styles/variables';

.button{
    width: 100%;
    background-color: $theme;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.button:hover {
    background-color: #201084;
}