<main>
    <header>
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="app-name">Allingot</span>
          <span class="app-name">Allingot</span>
          <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <a><button mat-button color="success" (click)="logout()">Logout</button></a>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>
    <section>
      <mat-card *ngFor="let po of pos; let i=index" class="card-container">
        <div>
          <mat-card-title> PO ID: {{ po._id }} </mat-card-title>
          <hr>
          <mat-card-content *ngFor="let product of po.products">
            Product: {{ product.product.name }}<br>
            Dimensions: {{ product.dimensions }}<br>
            Quantity: {{ product.quantity }}<br>
            <hr>
          </mat-card-content>
        </div>
        <div>
          <button
            class="submitBtn"
            mat-raised-button
            color="accent"
            (click)="makeDelivered(i)"
          >
            Delivered
          </button>
        </div>
      </mat-card>
    </section>
  </main>
  
