<main>
  <div class="p-6 mt-5 w-[32rem] mx-auto shadow-lg flex items-center space-x-4 flex-col">
    <h1 class="font-title text-4xl ml-4 text-purple-900">Activity Tracker</h1>
    <h2 class="font-subTitle text-2xl mr-4 text-purple-800">Ready! Set! Go!</h2>
    <h3 class="m-3 text-lg font-medium text-gray-700">Login with your email</h3>
    <hr class="w-[24rem] mb-3">
    <div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <app-inputs
            [required]="true"
            for="email"
            id="email"
            type="email"
            name="email"
            [formControl]="email"
            label="Email"
          ></app-inputs>
          <div *ngIf="(email.invalid && email.touched) || email.dirty" class="text-purple-400 text-xs">
            <p *ngIf="email.errors?.['required']">*Email is required</p>
            <p *ngIf="email.errors?.['email']">*Enter a valid email</p>
          </div>
        </div>
  
          <div class="mt-3">
          <app-inputs
            [required]="true"
            for="password"
            id="password"
            type="password"
            name="password"
            [formControl]="password"
            label="Password"
          ></app-inputs>
          <div *ngIf="(password.invalid && password.touched) || password.dirty" class="text-purple-400 text-xs">
            <p *ngIf="password.errors?.['required']">*Password is required</p>
          </div>
        </div>
  
        <!-- Forgot Password Button -->
        <button
          type="button"
          class=" ml-[12.5rem] mt-2 hover:text-blue-700"
          (click)="routeForgotPassPage()"
        >
          Forgot Password
        </button>
  
        <div>
          <app-button type="submit">Login</app-button>
        </div>
  
        <div class="relative flex py-3 items-center">
          <div class="flex-grow border-t border-gray-400"></div>
          <span class="flex-shrink mx-4 text-gray-600">OR</span>
          <div class="flex-grow border-t border-gray-400"></div>
        </div>
  
        <div>
          <app-button type="button" (onClicked)="routeSignupPage()">Sign Up!</app-button>
        </div>
      </form>
    </div>
  </div>
  
</main>
