<div class="parent">
<div class="back-image">
</div>
<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile>
    <img class="login-image" src="../../assets/worker.jpg" alt="worker">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card-cover">
    <mat-card>
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field color="primary" class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            required
            matInput
            mat-form-field-control
            formControlName="userID"
            name="userID"
            type="email"
          />
        </mat-form-field>
  
        <mat-form-field color="primary" class="form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            required
            matInput
            mat-form-field-control
            type="password"
            formControlName="password"
            name="password"
          />
        </mat-form-field>
  
        <button
          class="submit-btn"
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login!
        </button>
      </form>
    </mat-card>
  </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- <div class="card">
  
</div> -->
</div>