<div class="card">
  <img src="../../../assets/images/CabinetP.png" alt="Logo" class="logo" />
  <div class="card__container">
    <form
      class="card__container__resetPasswordForm"
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="card__container__resetPasswordForm__fields">
        <app-inputs
          [required]="true"
          for="newPassword"
          id="newPassword"
          type="password"
          name="newPassword"
          [formControl]="newPassword"
          label="New Password"
        ></app-inputs>
      </div>
      <div class="card__container__resetPasswordForm__fields">
        <app-inputs
          [required]="true"
          for="confirmPassword"
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          [formControl]="confirmPassword"
          label="Confirm Password"
        ></app-inputs>
      </div>
      <div class="card__container__resetPasswordForm__fields">
        <app-button type="submit">Change Password</app-button>
      </div>
    </form>
  </div>
</div>
