<div class="p-4 mt-2 w-[24rem] mx-auto shadow-md flex items-center space-x-4 flex-col">
    <h1 class="font-bold text-xl antialiased text-gray-700">{{category}}</h1>
    
    <div *ngFor="let task of tasks">
        <div *ngIf="task.taskId.category === category && task.status.title == 'Pending' && 
            task.taskId.isOptional === false && getSubCycle() != 2" 
            class="bg-red-50 w-[20rem] m-2 pr-3 pl-3 pt-3 pb-3 rounded-md font-medium">
            {{task.taskId.title}}
            <span class="float-right"><i class="fa-solid fa-triangle-exclamation"></i></span>
            <button type="button" class="block bg-gray-400 hover:bg-gray-300 text-white mt-3 pl-2 pr-2 pt-1 pb-1 rounded-sm" (click)="routeToActivity(task.taskId._id, false)">Upload</button>
        </div>
        
        <div *ngIf="task.taskId.category === category && task.status.title == 'Pending' && 
            task.taskId.isOptional === false && getSubCycle() === 2" 
            class="bg-orange-50 w-[20rem] m-2 pr-3 pl-3 pt-3 pb-3 rounded-md font-medium">
            {{task.taskId.title}}
            <span class="float-right"><i class="fa-solid fa-triangle-exclamation"></i></span>
            <button type="button" class="block bg-gray-400  hover:bg-gray-300 text-white mt-3 pl-2 pr-2 pt-1 pb-1 rounded-sm" (click)="routeToActivity(task.taskId._id, false)">Upload</button>
        </div>

        <div *ngIf="task.taskId.category === category && task.status.title == 'Pending' && 
            task.taskId.isOptional === true" 
            class="bg-yellow-50 w-[20rem] m-2 pr-3 pl-3 pt-3 pb-3 rounded-md font-medium">
            {{task.taskId.title}}
            <span class="float-right"><i class="fa-solid fa-triangle-exclamation"></i></span>
            <button type="button" class="block bg-gray-400  hover:bg-gray-300 text-white mt-3 pl-2 pr-2 pt-1 pb-1 rounded-sm" (click)="routeToActivity(task.taskId._id, false)">Upload</button>
        </div>

        <div *ngIf="task.taskId.category === category && 
            task.status.title == 'Complete'" 
            class="bg-green-50 w-[20rem] m-2 pr-3 pl-3 pt-3 pb-3 rounded-md font-medium">
            {{task.taskId.title}}
            <span class="float-right"><i class="fa-regular fa-circle-check"></i></span>
            <h3 class="font-normal">Completed</h3>
        </div>
    </div>
</div>